.warning_red {
    /* background-color: #dc3545 !important; */
    background-color: rgba(220, 53, 69, 0.8) !important;
    color: rgba(220, 53, 69, 0.8) !important;
    padding: 9px;
}

.o_gantt_color_6 {
    /* background-color: #dc3545 !important; */
    background-color: rgb(229, 30, 50) !important;
}
.transparente {
    /* background-color: #dc3545 !important; */
    background-color: transparent !important;
    color: transparent !important;
}

.warning_yellow {
    /* background-color: #dc3545 !important; */
    background-color: #F7CD1F!important;
}
.warning_green {
    /* background-color: #dc3545 !important; */
    background-color: #2aa76e!important;
}
.warning_orange {
    /* background-color: #dc3545 !important; */
    background-color: #F06050!important;
}
